body {
    background-color: #00041d;
    margin: 0;
    padding: 0;

}

/*#reset, #link {
    border: solid 1px gray;
    background-color: #2a2a2a;
    color: gray;
    margin-top: 5px;
}*/
#reset{
    top: 15%;
   // text-decoration: none !important;
}
#reset:hover{
    cursor: url(../git.png), pointer;
}
.transparent {
    color: transparent !important;
    border: solid 0px gray !important;
    padding: 0px;
    margin: 15px !important;
    width: 70%;
    padding-bottom: 2px !important;

}

div .col-xs-3 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

#box div .col-xs-3 {
    border: solid 1px gray;
    font-size: 40px;
    color: gray;
}

#box div .col-xs-3:hover {
    color: white;
    cursor: hand;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cv {
    padding: 0px;
    margin: 10px !important;
    width: 70%;
}

.container {
    padding-left: 3%;
    padding-right: 3%;
    width: auto !important;
}

.row {
    text-align: center;
}

.pad {
    width: 70px;
    padding: 0px;
}

.margin {
    margin-top: 10px;
}

a {
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 40px;
    background: #00072f;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: 5s;
    overflow: hidden;
}

a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(252, 20, 152, 0);
    filter: blur(4px);
    transition: 5s;
    z-index: -1;
}

a:hover:before {
    background: rgba(252, 20, 152, 1);
    transform: scaleX(8);
    text-decoration: none;

}

a:hover {
    color: #fff;
    box-shadow: -15px 0 50px rgba(252, 20, 152, 1), 15px 0 50px rgba(122, 0, 255, 1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.50), 0 0 25px rgba(255, 255, 255, 0.50), 0 0 35px rgba(255, 255, 255, 0.50);
    text-decoration: none;
}

a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(122, 0, 255, 0);
    filter: blur(4px);
    transition: 5s;
    z-index: -1;
    mix-blend-mode: lighten;
    text-decoration: none;

}

a:hover:after {
    background: rgba(122, 0, 255, 1);
    transform: scaleX(8);

}
a:focus{
    text-decoration: none;
}
